# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# API
API_PORT=3333
API_URL=http://localhost:3333

# Redis (Upstash)
REDIS_URL=

# Google Places
GOOGLE_PLACES_API_KEY=

# App
NODE_ENV=development